# ===================================================================
# MOL-DORM 聚合启动模块全局配置
# ===================================================================
spring:
  application:
    name: mol-launcher

  # 【核心】利用 import 把子模块的配置全部“吸”过来
  # 这样 Launcher 启动时，就拥有了数据库连接、MyBatis 配置等所有信息
  config:
    import:
      - optional:classpath:/common-base.yml
      - optional:classpath:/application-server.yml    # 系统模块配置
      - optional:classpath:/application-dorm.yml      # 宿舍业务模块配置

  main:
    # 允许 Bean 定义覆盖 (多模块可能有重名的 Bean)
    allow-bean-definition-overriding: true
    banner-mode: console

  jmx:
    enabled: false

  output:
    ansi:
      enabled: always

logging:
  level:
    root: INFO
    com.mol: INFO
    com.mol.**.mapper: DEBUG

# 端口配置已由 Java 代码 System.setProperty 接管 (9090)，这里写不写都行，为了直观保留
server:
  port: 9090
  servlet:
    context-path: /api