<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mol.server.mapper.SysCampusMapper">
    <resultMap id="BaseResultMap" type="com.mol.server.entity.SysCampus">
        <id column="id" property="id" />
        <result column="campus_name" property="campusName" />
        <result column="campus_code" property="campusCode" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
</mapper>